@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&family=Quicksand&display=swap');


/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans';
}

.download {
  width: 250px;
  height: 30px;
}

/* Local */

/* Home */
.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.home-content {
  height: 100%;
  width: 60%;
}

.brand {
  display: flex;
  align-items: center;
  height: 10%;
  padding-left: 10%;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  padding-left: 10%;
}

/* Feature */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.cards {
  display: flex;
  justify-content: center;
  height: 40%;
}

.card {
  height: 100%;
  width: 20%;
  margin: 0 5%;
  padding: 15px;
  border: solid 1px;
}

.card-img {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

/* beta */
.beta-1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.beta-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.beta-2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  border: solid 1px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}