@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&family=Quicksand&display=swap');


/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  font-family: 'Fira Sans';
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 30px;
  font-size: 0.9rem;
}

.download:hover {
  cursor: pointer;
}

.download-p {
  display: inline-block;
  margin-left: 0.5rem;
}

/* Local */

/* Home */
.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.home-content {
  height: 100%;
  width: 60%;
}

.brand {
  display: flex;
  align-items: center;
  height: 10%;
  padding-left: 10%;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

.brand-logo {
  display: inline-block;
  margin-right: 0.5rem;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  padding-left: 10%;
}

.home-h1 {
  width: 80%;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.home-p {
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}

.home-illust {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}

/* Feature */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.feature-h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.feature-p {
  width: 70%;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  justify-content: center;
  height: 40%;
}

.card {
  height: 100%;
  width: 20%;
  margin: 0 5%;
  padding: 15px;
  border: solid 1px;
  border-radius: 1rem;
}

.card-img {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.card-title {
  text-align: center;
  font-size: 0.95rem;
  margin-bottom: 0.8rem;
}

.card-text {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  font-size: 0.85rem;
}

/* beta */
.beta-1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.beta-h1 {
  margin-bottom: 2rem;
}

.beta-p {
  width: 90%;
  margin-bottom: rem;
  text-align: center;
  font-size: 1.1rem;
}

.beta-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.beta-2-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
}

.beta-h2 {
  width: 60%;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.beta-download-p {
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  font-family: 'Courier New', Courier, monospace;
}

/* Mobile Responsive */
@media screen and (max-width: 800px) {
  :root {
    font-size: 14px;
  }

  .home {
    flex-direction: column;
    border: solid;
  }

  .brand {}

  .home-content {
    height: 70%;
    width: 100%;
  }

  .home-main {
    height: 90%;
    padding-left: 0;
    border: solid 1px;
  }

  .home-h1 {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .home-p {
    margin-bottom: 4rem;
    text-align: center;
  }

  .download {
    margin: 0 auto;
  }

  .home-illust {
    height: 30%;
    width: 100%;
    border: solid 1px;
  }
}